doctype html
html
    head
    body
        h1 This is only for admin
        a(href="/send-email")
            button Send email to all members
        br
        br
        a(href="/emails")
            button See emails of all members
        br
        br
        a(href="/approve-members")
            button Approve members