doctype html
html.noscroll(lang='en')
    include includes/head.pug
    body(style="background-color: white;")
        .container.text-center
            h1 This is only for admin
            a(href="/admin/send-email")
                button Send email to all members
            br
            br
            a(href="/admin/emails")
                button See emails of all members
            br
            br
            a(href="/admin/approve-members")
                button Approve members
            br
            br
            a(href="/admin/make-admin")
                button Make admin