doctype html
html.noscroll(lang='en')
  include includes/head.pug  
  body
    // Preloader
    .loader
      img(src='https://daniascienceclub.ml/img/preloader.svg', alt='Loading...')
    .form
      form.card(action='/login', method='POST')
        img(src='https://daniascienceclub.ml/img/logo.svg', height='100px;')
        h Login
        hr
        |             Roll:
        input(name='roll', type='text', placeholder='Example: 202563', required, focus)
        |             Password:
        .row
          .col-12
            input#password(name='password', type='password', placeholder='Password', required)
          .eye
            i#eye.fas.fa-eye(onclick='toglePassVisibility()')
            i#eyex.fas.fa-eye-slash(onclick='toglePassVisibility()')
        input(type='submit', value='Login')
        br
        p
          | Haven't registered?
          a(href='/register')  Register now
        p
          | Forgot password?
          a(href='https://daniascienceclub.ml/html/member/reset.html')  Reset now
      hr
      // jQuery first, then Popper.js, then Bootstrap JS
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
      script(src='https://daniascienceclub.ml/js/form.js')