doctype html
html.noscroll(lang='en')
    include includes/head.pug
    body(style="background-color: white;")
        .container
            br
            h1.card.text-center(style="padding: 10px;") Make Admin
            if userData.length == 0
                h3.text-center There is no members to be approved
            else
                form(action="/admin/make-admin", method="post")
                    select(name="memberId")
                        each n, i in userData
                            option(value=`${n.memberId}`)=`${n.fname}-${n.memberId}`
                    button(type="submit") Make admin
