doctype html
html
    head
    body
        h1 Send email to all members
        hr
        form(action="/send-email", method="post")
            br
            |             Subject: 
            input(type="text", name="subject")
            br
            br
            |             HTML:
            br 
            textarea(name="html", cols="30", rows="10")
            br
            |             Admin Password:
            br
            input(type="password", name="password")
            input(type="submit", value="Send")