doctype html
html(lang='en')
    include includes/head.pug
    body
        .container
            form.card(action="/admin/send-email", method="post")
                h1.text-center Send Email to All Members
                |             Subject: 
                input(type="text", name="subject")
                br
                |             HTML:
                br 
                textarea(name="html", cols="30", rows="10")
                br
                |             Admin Password:
                br
                input(type="password", name="password")
                input(type="submit", value="Send")